header .header {
    background-color: #F39EB6;
    color: #4A5138;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: large;
    text-align: center;
    padding: 20px;
}
.profile {
    text-align: center;
    font-family: "Baloo 2", monospace;
    color: #4A5138;
    padding: 30px;
    background-color: #FFE4EF;
}

.profile-image {
    width: 400px;
    height: 600px;
    border-radius: 50%;
    border: 5px solid #B8DB80;
    object-fit: cover;
}

.profile h2 {
    font-size: 25px;
    margin-top: 20px;
}

.profile p {
    font-size: 16px;
}

.profile a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #B8DB80;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
/* update */